.book {

&-header {
  margin-left: 4px;
}

&-description {
  margin-left: 4px;
}

&-item .img-block{
    max-width: 250px;
    max-height: 300px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-item .image{
    max-width: 250px;
    max-height: 300px;
    border-radius:4px;
  }

  &-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 18px
  }

  &-item &-info{
      margin-left: 24px;
  }

  &-info .item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
  }
  
  &-info &-description{
    font-weight: 600;
    font-size: 16px;
  }

  &-info .btn-green{
    width: 100%;
  }
}

  .btn-green_book {
    border: 1px solid #4caf50;
    border-radius: 4px;
    padding: 10px 50px;
    background: #4caf50;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 8px;
  }

  .btn-green_book:hover{
    color:#4caf50;
    background:#fff;
}
