.modal-wrapper {
    background: rgba($color: #a09191, $alpha: 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .field label{
    font-weight: 550;
    margin-bottom: 5px;
}

.modal_close {
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    img {
        width: 40px;
    }
}

.btn-black{
    background-color: #45403c;
    color: #fff;
    padding: 10px 16px;
    border: 1px solid #45403c;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.btn-black:hover{
    background-color: #36312e;
}

.sign-page{
    height:90%;
}

.form .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form .field label{
    font-weight: 550;
    margin-bottom: 5px;
}

.input{
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 8px;
    border: 1px solid rgba(34,36,38,.15);
    outline: none;
    margin-bottom: 10px;
    max-width: 250px;
    width: 250px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b8b8b8;
    opacity: 1; /* Firefox */
  }

input:focus{
    border: 1px solid;
  }

.signin {
    background-color: #ede6c7;
    padding: 40px 80px;  
}

.signup {
    background-color: #ede6c7;
    padding: 50px;  
}




